In [1]:
import os
import pandas as pd
import h5py

In [10]:
# get gsetable
path = 'C:\\Users\\15423\\OneDrive\\GSE\\done'
file_list = []
# 遍历目录及所有子目录下的文件
for root, dirs, files in os.walk(path):
    for filename in files:
        if filename.endswith('_meta.csv'):
            file_path = os.path.join(root, filename)
            file_list.append(file_path)
file_list

['C:\\Users\\15423\\OneDrive\\GSE\\done\\GSE227755\\GSE227755_meta.csv',
 'C:\\Users\\15423\\OneDrive\\GSE\\done\\GSE230078\\GSE230078_meta.csv',
 'C:\\Users\\15423\\OneDrive\\GSE\\done\\GSE252364\\GSE252364_meta.csv',
 'C:\\Users\\15423\\OneDrive\\GSE\\done\\GSE254949\\GSE254949_meta.csv',
 'C:\\Users\\15423\\OneDrive\\GSE\\done\\GSE255474\\GSE255474_meta.csv']

In [14]:
mg_df = pd.DataFrame()
for i in file_list:
    df_tmp = pd.read_csv(i).loc[:, ['gse_accession', 'study_title']]
    df_tmp_drop = df_tmp.drop_duplicates()
    mg_df = pd.concat([mg_df, df_tmp_drop], ignore_index=True)
mg_df

  gse_accession                                        study_title
0     GSE227755            Effect of d-alanine on circadian rhythm
1     GSE230078  Targeting the intestinal circadian clock by me...
2     GSE252364  Effect of methionine/choline deficient diet on...
3     GSE254949  Comparative rhythmic transcriptome profiling o...
4     GSE255474  Characterisation of the epidermal diurnal tran...

In [15]:
# save
mg_df.to_csv('C:\\Users\\15423\\OneDrive\\GSE\\done\\gse_table.csv', index=False)

In [17]:
# make jtk_value csv
path = 'C:\\Users\\15423\\OneDrive\\GSE\\done'
df = pd.read_csv(os.path.join(path, 'Summary.csv'))

In [18]:
df

,GSE,Condition,Tissue,Omics,Gene,JTK_pvalue,JTK_BH.Q,JTK_period,JTK_adjphase,JTK_amplitude,meta2d_Base,meta2d_AMP,meta2d_rAMP
0,GSE230078,Bmal1fl&fl,Colon,RNA-Seq,Fam129c,0.018622,0.090651,24,15.0,0.398735,1.337286,0.514955,0.385075
1,GSE230078,Bmal1fl&fl,Colon,RNA-Seq,Gfpt1,0.004348,0.028961,24,5.0,49.753227,536.513867,19.957727,0.037199
2,GSE230078,Bmal1fl&fl,Colon,RNA-Seq,Cyp3a13,0.000023,0.000709,24,9.0,27.391420,124.255758,23.650028,0.190333
3,GSE230078,Bmal1fl&fl,Colon,RNA-Seq,Cyp4b1,0.001714,0.014341,24,17.0,25.682624,97.817349,43.677847,0.446525
4,GSE230078,Bmal1fl&fl,Colon,RNA-Seq,Dcakd,0.018622,0.090651,24,19.0,3.509599,24.883732,2.271203,0.091273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22468,GSE227755,Vehicle,kidney,RNA-Seq,D630045J12Rik,0.012551,0.352935,20,8.0,2.930976,19.253288,2.987131,0.155149
22469,GSE227755,Vehicle,kidney,RNA-Seq,Gm15270,0.001342,0.093686,24,18.0,3.665680,9.535379,2.821785,0.295928
22470,GSE227755,Vehicle,kidney,RNA-Seq,Snhg11,0.012551,0.352935,24,12.0,30.386886,116.303714,37.745696,0.324544
22471,GSE227755,Vehicle,kidney,RNA-Seq,Cox7c-ps1,0.004348,0.188054,24,6.0,21.964182,117.780829,22.081596,0.187480
22472,GSE227755,Vehicle,kidney,RNA-Seq,Pinx1,0.003471,0.164804,20,0.0,1.782498,12.328164,2.328993,0.188916

In [19]:
gse_index = pd.read_csv(os.path.join(path, 'gse_table.csv'))
gse_index

  gse_accession                                        study_title
0     GSE227755            Effect of d-alanine on circadian rhythm
1     GSE230078  Targeting the intestinal circadian clock by me...
2     GSE252364  Effect of methionine/choline deficient diet on...
3     GSE254949  Comparative rhythmic transcriptome profiling o...
4     GSE255474  Characterisation of the epidermal diurnal tran...

In [20]:
gse_index['index'] = gse_index.index + 1
mapping_dict = dict(zip(gse_index['gse_accession'], gse_index['index']))
df['GSE'] = df['GSE'].map(mapping_dict)
df

,GSE,Condition,Tissue,Omics,Gene,JTK_pvalue,JTK_BH.Q,JTK_period,JTK_adjphase,JTK_amplitude,meta2d_Base,meta2d_AMP,meta2d_rAMP
0,2,Bmal1fl&fl,Colon,RNA-Seq,Fam129c,0.018622,0.090651,24,15.0,0.398735,1.337286,0.514955,0.385075
1,2,Bmal1fl&fl,Colon,RNA-Seq,Gfpt1,0.004348,0.028961,24,5.0,49.753227,536.513867,19.957727,0.037199
2,2,Bmal1fl&fl,Colon,RNA-Seq,Cyp3a13,0.000023,0.000709,24,9.0,27.391420,124.255758,23.650028,0.190333
3,2,Bmal1fl&fl,Colon,RNA-Seq,Cyp4b1,0.001714,0.014341,24,17.0,25.682624,97.817349,43.677847,0.446525
4,2,Bmal1fl&fl,Colon,RNA-Seq,Dcakd,0.018622,0.090651,24,19.0,3.509599,24.883732,2.271203,0.091273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22468,1,Vehicle,kidney,RNA-Seq,D630045J12Rik,0.012551,0.352935,20,8.0,2.930976,19.253288,2.987131,0.155149
22469,1,Vehicle,kidney,RNA-Seq,Gm15270,0.001342,0.093686,24,18.0,3.665680,9.535379,2.821785,0.295928
22470,1,Vehicle,kidney,RNA-Seq,Snhg11,0.012551,0.352935,24,12.0,30.386886,116.303714,37.745696,0.324544
22471,1,Vehicle,kidney,RNA-Seq,Cox7c-ps1,0.004348,0.188054,24,6.0,21.964182,117.780829,22.081596,0.187480
22472,1,Vehicle,kidney,RNA-Seq,Pinx1,0.003471,0.164804,20,0.0,1.782498,12.328164,2.328993,0.188916

In [21]:
gene_index = pd.read_csv(os.path.join(path, 'gene.csv'))
gene_index['index'] = gene_index.index + 1
mapping_dict = dict(zip(gene_index['gene_name'], gene_index['index']))
df['Gene'] = df['Gene'].map(mapping_dict)
df

,GSE,Condition,Tissue,Omics,Gene,JTK_pvalue,JTK_BH.Q,JTK_period,JTK_adjphase,JTK_amplitude,meta2d_Base,meta2d_AMP,meta2d_rAMP
0,2,Bmal1fl&fl,Colon,RNA-Seq,6,0.018622,0.090651,24,15.0,0.398735,1.337286,0.514955,0.385075
1,2,Bmal1fl&fl,Colon,RNA-Seq,18,0.004348,0.028961,24,5.0,49.753227,536.513867,19.957727,0.037199
2,2,Bmal1fl&fl,Colon,RNA-Seq,23,0.000023,0.000709,24,9.0,27.391420,124.255758,23.650028,0.190333
3,2,Bmal1fl&fl,Colon,RNA-Seq,24,0.001714,0.014341,24,17.0,25.682624,97.817349,43.677847,0.446525
4,2,Bmal1fl&fl,Colon,RNA-Seq,32,0.018622,0.090651,24,19.0,3.509599,24.883732,2.271203,0.091273
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22468,1,Vehicle,kidney,RNA-Seq,16244,0.012551,0.352935,20,8.0,2.930976,19.253288,2.987131,0.155149
22469,1,Vehicle,kidney,RNA-Seq,16274,0.001342,0.093686,24,18.0,3.665680,9.535379,2.821785,0.295928
22470,1,Vehicle,kidney,RNA-Seq,16299,0.012551,0.352935,24,12.0,30.386886,116.303714,37.745696,0.324544
22471,1,Vehicle,kidney,RNA-Seq,16388,0.004348,0.188054,24,6.0,21.964182,117.780829,22.081596,0.187480
22472,1,Vehicle,kidney,RNA-Seq,16400,0.003471,0.164804,20,0.0,1.782498,12.328164,2.328993,0.188916

In [22]:
df.to_csv('C:\\Users\\15423\\OneDrive\\GSE\\done\\jtk_value.csv', index=False)

In [25]:
# make h5
gse = 'GSE254949'
path = f'C:\\Users\\15423\\OneDrive\\GSE\\done\\{gse}'
# 
pd1 = pd.read_csv(os.path.join(path, "DLS.csv"))
pd2 = pd.read_csv(os.path.join(path, "DMS.csv"))
pd3 = pd.read_csv(os.path.join(path, "NAc.csv"))
# pd4 = pd.read_csv(os.path.join(path, "('MCD', 'suprachiasmatic nucleus').csv"))

In [26]:
omics = 'trans'
tissue = 'ctrl'
with h5py.File(os.path.join(path, 'fpkm.h5'), 'w') as f:
    gse_group = f.create_group(gse)
    omics_group = gse_group.create_group(omics)
    tissue_group = omics_group.create_group('DLS')
    condition_group = tissue_group.create_group('ctrl')
    condition_group.create_dataset('data', data=pd1.iloc[:, 1:].to_numpy())
    condition_group.attrs['col'] = pd1.columns.to_list()[1:]

    # condition_group = tissue_group.create_group('Bmal1iec-&-')
    # condition_group.create_dataset('data', data=pd2.iloc[:, 1:].to_numpy())
    # condition_group.attrs['col'] = pd2.columns.to_list()[1:]

    tissue_group = omics_group.create_group('DMS')
    condition_group = tissue_group.create_group('ctrl')
    condition_group.create_dataset('data', data=pd2.iloc[:, 1:].to_numpy())
    condition_group.attrs['col'] = pd2.columns.to_list()[1:]

    tissue_group = omics_group.create_group('NAc')
    condition_group = tissue_group.create_group('ctrl')
    condition_group.create_dataset('data', data=pd3.iloc[:, 1:].to_numpy())
    condition_group.attrs['col'] = pd3.columns.to_list()[1:]

    print('done!')

done!

In [31]:
full_path = []
gse = 'GSE254949'
path = f'C:\\Users\\15423\\OneDrive\\GSE\\done\\{gse}'


def print_dataset_with_data(file):
    def print_attrs(name, obj):
        if isinstance(obj, h5py.Dataset) and name.endswith("data"):
            print(name)
            full_path.append(name)

    with h5py.File(file, 'r') as f:
        f.visititems(print_attrs)


print_dataset_with_data(os.path.join(path, 'fpkm.h5'))

GSE254949/trans/DLS/ctrl/data
GSE254949/trans/DMS/ctrl/data
GSE254949/trans/NAc/ctrl/data

In [47]:
# 读取HDF5文件中的数据集和属性
with h5py.File(os.path.join(path, 'fpkm.h5'), 'r') as f:
    print(full_path[0])
    dset = f[full_path[0]]
    x = dset[()]
    y = f['/'.join(full_path[2].split('/')[0:-1])].attrs['col']
    # print(pd.DataFrame(dset[()]))
    # print(f['/'.join(full_path[2].split('/')[0:-1])].attrs['col'])

GSE254949/trans/DLS/ctrl/data

In [27]:
def find_fpkm_h5_files(directory):
    fpkm_h5_files = []

    for root, dirs, files in os.walk(directory):
        for file in files:
            if file.endswith("fpkm.h5"):
                fpkm_h5_files.append(os.path.join(root, file))

    return fpkm_h5_files


path = 'C:\\Users\\15423\\OneDrive\\GSE\\done'

file_list = find_fpkm_h5_files(path)
merged_file_path = os.path.join(path, 'merged.h5')

with h5py.File(merged_file_path, 'w') as merged_file:
    for file_path in file_list:
        print(f'{file_path} is doing')
        with h5py.File(file_path, 'r') as f:
            for key in f.keys():
                print(key)
                # 复制数据集到新文件中
                f.copy(key, merged_file)

print("HDF5文件合并完成。")

C:\Users\15423\OneDrive\GSE\done\GSE227755\fpkm.h5 is doing
GSE227755
C:\Users\15423\OneDrive\GSE\done\GSE230078\fpkm.h5 is doing
GSE230078
C:\Users\15423\OneDrive\GSE\done\GSE252364\fpkm.h5 is doing
GSE252364
C:\Users\15423\OneDrive\GSE\done\GSE254949\fpkm.h5 is doing
GSE254949
C:\Users\15423\OneDrive\GSE\done\GSE255474\fpkm.h5 is doing
GSE255474
HDF5文件合并完成。

In [28]:
print_dataset_with_data(merged_file_path)

GSE227755/trans/colon/Bmal1fl&fl/data
GSE227755/trans/colon/Bmal1iec-&-/data
GSE230078/trans/colon/Bmal1fl&fl/data
GSE230078/trans/colon/Bmal1iec-&-/data
GSE252364/trans/liver/MCD/data
GSE252364/trans/liver/ctrl/data
GSE252364/trans/suprachiasmatic nucleus/MCD/data
GSE252364/trans/suprachiasmatic nucleus/ctrl/data
GSE254949/trans/DLS/ctrl/data
GSE254949/trans/DMS/ctrl/data
GSE254949/trans/NAc/ctrl/data
GSE255474/trans/skin/male/data